@import "./normalize.css";

:root {
  --black: #1c1b21;
  --black-lighten: #2d2c33;
  --error: #ffc5c5;
  --purple: #571f63;
}

h1 {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 5px;
  border-radius: 20px;
  background-color: var(--black-lighten);
}

body {
  padding: 20px;
  background-color: var(--black);
  color: #fff;
}

#error {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  color: var(--black);
  border-radius: 20px;
  background-color: var(--error);
}

#root {
  text-align: center;
}

.button {
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  background-color: var(--purple);
  border-radius: 20px;
}

.ideas {
  display: flex;
  justify-content: space-between;
}

.idea {
  flex: 0 0 250px;
  padding: 20px;
  font-size: 18px;
  background-color: var(--black-lighten);
  border-radius: 20px;
}
