.card_list {
  margin-bottom: 20px;
  padding: 10px 20px;
}

.card_list .loader {
  margin: 0 auto;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

.card_list h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

.card_list h1 span {
  padding-left: 10px;
  font-size: 36px;
  color: var(--pink);
}
