@import "./normalize.css";

:root {
  --black: #1c1b21;
  --black-lighten: #2d2c33;
  --error: #ffc5c5;
  --purple: #571f63;
}

h1 {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 5px;
  border-radius: 20px;
  background-color: var(--black-lighten);
}

body {
  padding: 20px;
  background-color: var(--black);
  color: #fff;
}

#error {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  color: var(--black);
  border-radius: 20px;
  background-color: var(--error);
}

#root {
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 20px;
  margin: 5px;
  color: #fff;
  font-size: 24px;
  background-color: var(--purple);
  border-radius: 20px;
  &:hover {
    background-color: purple;
  }
}

.ideas {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.idea {
  display: inline-block;
  margin: 5px;
  /* flex: 0 0 250px; */
  width: 100px;
  padding: 20px;
  font-size: 20px;
  background-color: var(--black-lighten);
  border-radius: 20px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  /* flex: 0 0 0; */
  display: inline-block;
  padding: 20px;
  width: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--black-lighten);
  border-radius: 20px;
}

.div {
  display: inline-block;
  padding: 50px;
  border-radius: 20px;
  background-color: var(--black-lighten);

  .p {
    padding: 50px;
    border-radius: 20px;
    background-color: var(--error);
  }
}

.form {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  font-size: 36px;
  text-align: left;
  line-height: 150%;
  background-color: var(--error);
  border-radius: 20px;

  .input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
  }
}
