@import "./normalize.css";

:root {
  --black: #1c1b21;
  --black-lighten: #2d2c33;
  --error: #ffc5c5;
  --purple: #571f63;
}

h1 {
  display: inline-block;

  margin-bottom: 20px;
  padding: 10px 20px;

  font-size: 42px;
  font-weight: 700;
  letter-spacing: 5px;

  background-color: var(--black-lighten);
  border-radius: 20px;
}

body {
  padding: 20px;
  color: #fff;
  background-color: var(--black);
}

#error {
  display: inline-block;

  margin: 20px;
  padding: 20px;

  font-size: 20px;
  color: var(--black);

  background-color: var(--error);
  border-radius: 20px;
}

#root {
  text-align: center;
}

.button {
  cursor: pointer;

  margin: 5px;
  padding: 20px;

  font-size: 24px;
  color: #fff;

  background-color: var(--purple);
  border-radius: 20px;

  &:hover {
    background-color: purple;
  }
}

.ideas {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.idea {
  display: inline-block;

  /* flex: 0 0 250px; */
  width: 100px;
  margin: 5px;
  padding: 20px;

  font-size: 20px;

  background-color: var(--black-lighten);
  border-radius: 20px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  /* flex: 0 0 0; */
  display: inline-block;

  width: 100px;
  padding: 20px;

  font-size: 24px;
  font-weight: 700;
  text-align: center;

  background-color: var(--black-lighten);
  border-radius: 20px;
}

.div {
  display: inline-block;
  padding: 50px;
  background-color: var(--black-lighten);
  border-radius: 20px;

  .p {
    padding: 50px;
    background-color: var(--error);
    border-radius: 20px;
  }
}

.form {
  display: flex;
  gap: 20px;

  width: 100%;
  margin-bottom: 20px;
  padding: 20px;

  font-size: 36px;
  line-height: 150%;
  text-align: left;

  background-color: var(--error);
  border-radius: 20px;

  .input {
    width: 100%;
    padding: 15px;

    font-size: 24px;

    border: none;
    border-radius: 20px;
  }
}
