*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out; /* добавим плавность переходов для всех элементов страницы */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Playfair Display";
  font-weight: normal;
  letter-spacing: 1px;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;

  background: #f7f7f7;
}

header::after,
.container::after,
footer::after,
.widget-posts-list li::after,
#subscribe::after {
  content: "";
  clear: both;
  display: table;
}

button {
  border: none;
}
