.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  padding: 20px;
}

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu__item {
  display: flex;
  gap: 0;
  align-items: center;

  font-size: 24px;
  line-height: 150%;
  color: var(--white);
  text-decoration: none;
}

.menu__item:visited {
  color: var(--white);
}

.menu__item:hover {
  text-decoration: underline 3px;
}

.menu__item img {
  width: 24px;
}

.menu__counter {
  margin-left: 5px;
  padding: 0 10px;

  font-weight: 700;
  color: var(--black);

  background-color: var(--white);
  border-radius: 50%;
}
