.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  padding: 20px;
}

.menu {
  display: flex;
  gap: 30px;
  align-items: center;

  .menu__item {
    display: flex;
    gap: 7px;
    align-items: center;

    font-size: 24px;
    line-height: 150%;
    text-decoration: none;
    letter-spacing: 2px;

    &:visited {
      color: var(--white);
    }

    &:hover {
      text-decoration: underline 3px;
    }

    img {
      width: 24px;
    }

    .menu__counter {
      padding: 0 10px;

      font-weight: 700;
      color: var(--black);

      background-color: var(--white);
      border-radius: 50%;
    }
  }
}
