:root {
  --black: #1c1b21;
  --black-lighten: #2d2c33;
  --pink: #ffc5c5;
  --purple: #571f63;
  --white: #fdf;
  --transition: 0.3s;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  background-color: var(--black);
}

button,
a {
  transition: 0.2s !important;
}

button:active,
a:active {
  transform: translateY(1px);
}
